.contenedor{
    .s-home{
        justify-content: space-between;
        display: inline-block;
        width: auto;
        
    }
    .foto-principal{
        margin-top: 2rem;
        margin-left: 0.5rem;
        width: auto;
        position: static;
        border-radius: 1rem;
        &:hover{
            transform: scale(1.2);
            transition: 0.5s;
        }
    }
    
    .hometext{
        margin-right: 0.5rem;
        margin-top: 5rem;
        margin-bottom: 0.5rem;
        text-align: center;
        
        
    }
    @media only screen and (min-width: 320px ){
        @media only screen and (max-width:720px) {
            .contenedor{
        
                width: 90%;
                height: 80vh;
                font-size: 2rem;
                text-align: center;
                margin-top: 15rem;
                margin:20px auto;
                display: grid;
                grid-template-columns: 1fr;
                grid-row: repeat(2 1fr);
                grid-template-areas: 
                    "foto-principal" 
                    "hometext" ;}
}
}
}