*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import "header";
@import "footer";
body{
    font-family: Arial, Helvetica, sans-serif;
    color :grey;
 /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f2f6f8+0,d8e1e7+50,b5c6d0+51,e0eff9+100;Grey+Gloss+%232 */
background: rgb(242,246,248); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(242,246,248,1) 0%, rgba(216,225,231,1) 50%, rgba(181,198,208,1) 51%, rgba(224,239,249,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(242,246,248,1) 0%,rgba(216,225,231,1) 50%,rgba(181,198,208,1) 51%,rgba(224,239,249,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(242,246,248,1) 0%,rgba(216,225,231,1) 50%,rgba(181,198,208,1) 51%,rgba(224,239,249,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9',GradientType=0 ); /* IE6-9 */
.btn{
    margin-left: 25%;
    margin-right: 15px;
    margin-top: 2rem;
    background-color: #3b679e;
    margin-bottom: 0.5rem;
    font-size: medium;
    color: aliceblue;
}
@import "index";
@import "auto";
@import "marca";
@import "famosos";
@import "miFocus";
@import "galeria";
@import "opinionesFans";
}